<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SentryDSN</key>
	<string>https://21413547ca6d4e62b54338cc94f50da3@o187048.ingest.sentry.io/6542325</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
